/* header css */
a {
  color: white;
  text-decoration: none;
}

.button-flex {
  display: flex;
}
.header {
  background-color: #25274d;
  display: flex;
  justify-content: space-evenly;
}
.header-content {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 750px;
}
.name {
  display: flex;
  flex-direction: column;
  font-family: 'Satisfy', cursive;
  font-size: x-large;
  justify-content: center;
  text-align: center;
}
.nav {
  padding: 20px;
}
.p5 {
  padding: 5px;
}

/* content css */
.about-description {
  font-size: large;
}
.body {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bottom-border {
  border-bottom: 1px solid gray;
}
.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.font-bold {
  font-weight: bold;
}
.font-large {
  font-size: large;
}
.headshot {
  float: left;
  height: 200px;
  padding-right: 24px;
}
.margin12px {
  margin-top: 12px;
}
.nav {
  display: flex;
  list-style: none;
}
.button {
  background-color: #25274d;
  border-radius: 12px;
  border: 1px solid #2a2d58;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 4px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #373957;
}
.buttonAlign {
  display: flex;
  justify-content: space-evenly;
}
.button:hover {
  background-color: #2e9cca;
}
.button:active {
  position: relative;
  top: 1px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.portfolio-image {
  border: #25274d;
  border-style: solid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 6px 6px 0px 6px;
  max-height: 200px;
  max-width: 200px;
  width: auto;
  height: auto;
}
.section-content {
  background-color: lightgray;
  justify-content: space-evenly;
  width: 750px;
  padding: 10px;
}
.section-main {
  background-color: #464866;
  display: flex;
  flex: 1;
  justify-content: center;
}

.txt-center {
  text-align: center;
}

/* footer css */
.footer {
  background-color: #25274d;
  color: white;
  display: flex;
  justify-content: center;
  padding: 24px;
}

/*  responsive styles screen size */
@media (min-width: 1024px) and (max-width: 133px) {
  .header-logo {
    font-size: 96px;
  }
}

@media (min-width: 1400px) {
  .header-logo {
    font-size: 96px;
  }
}
